{{ define "EditUnit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Unit</h2>  
    <form method="POST" action="updateUnit">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label>Symbol </label><input type="text" name="symbol" value="{{ .Symbol }}"  /><br />
      <label>Description </label><input type="text" name="description" value="{{ .Description }}"  /><br />
      <input type="submit" value="Save Unit" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}