{{ define "EditUnit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Unit</h2>  
    <form method="POST" action="updateUnit">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label> Name </label><input type="text" name="name" value="{{ .Name }}"  /><br />
      <input type="submit" value="Save Unit" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}