{{ define "EditRecord" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Record</h2>  
    <form method="POST" action="updateRecord">
      <input type="hidden" name="uid" value="{{ .Id }}" />
        <label> Food </label>
        <select id="food" name="food">        
            {{range $f := .FoodOptions}}          
					  <option value="{{ $f.Id }}" id="{{ $f.Id }}"
              {{ if $f.Selected }} 
                selected
              {{ end }}
            >
            {{ $f.Name }}
            </option>
          {{ end }}
				</select>
      <br />
        <label> Unit </label>
        <select id="unit" name="unit">
            {{range $unit := .UnitOptions}}          
					  <option value="{{ $unit.Id }}" id="{{ $unit.Id }}"
              {{ if $unit.Selected }} 
                selected
              {{ end }}
            >
            {{ $unit.Symbol }}
            </option>
          {{ end }}
				</select>
      <br />
      <label>Quantity</label><input type="text" name="quantity" value="{{ .Quantity }}"  /><br />
      <label>CHO (g)</label><input type="text" name="cho" value="{{ .CHO }}"  /><br />
      <input type="submit" value="Save Record" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}