{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>diÁria</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
        <script>
            function calculate() {
                var xhttp = new XMLHttpRequest();
                var foodid = document.getElementById("foodid").value;
                var quantity = document.getElementById("quantity").value;
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("CHO").value = this.responseText;
                    }
                };
                xhttp.open("GET", "/calculate?foodid="+foodid+"&quantity="+quantity, true);
                xhttp.send();
            }
            function submitItemForm(){
                var f = document.getElementById('foodid');
                document.getElementById('foodName').value = f.options[f.selectedIndex].text;
                var u = document.getElementById('unitid');
                document.getElementById('unitSymbol').value = u.options[u.selectedIndex].text;
                document.getElementById('ItemForm').submit();
            }
        </script>
    </head>
    <body>
        <h1>diÁria</h1>      
{{ end }}