{{ define "ListFoodsGroups" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Foods Groups Registered </h2>
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td> {{ .Id }} </td>
        <td> {{ .Name }} </td>
        <td><a href="/showF?id={{ .Id }}">View</a></td>
        <td><a href="/editF?id={{ .Id }}">Edit</a></td>
        <td><a href="/deleteF?id={{ .Id }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}