{{ define "ListRecords" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Records </h2>
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Meal</td>
        <td>Insulin</td>
        <td>Glycemia Before Meal</td>
        <td>Glycemia Before Meal</td>
        <td>Dose (ml)</td>
        <td>gCHO</td>
        <td>Created</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td> {{ .Id }} </td>
        <td> {{ .MealName }} </td>
        <td> {{ .InsulinName }} </td>
        <td> {{ .Gbm }} </td>
        <td> {{ .Gam }} </td>
        <td> {{ .Dose }} </td>
        <td> {{ .CHO }} </td>
        <td> {{ .Created }} </td>
        <td><a href="/showRecord?id={{ .Id }}">View</a></td>
        <td><a href="/editRecord?id={{ .Id }}">Edit</a></td>
        <td><a href="/deleteRecord?id={{ .Id }}">Delete</a><td>
      </tr>
    {{ end }} 
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}