{{ define "Menu" }}
<a href="/">HOME</a>
</br>
<a href="/listFoods">FOODS</a>
<a href="/listFoodsGroups">GROUPS</a>
<a href="/listMeals">MEALS</a>
<a href="/listInsulins">INSULINS</a>
<a href="/listUnits">UNITS</a>
</br>
<a href="/listMeasures">MEASURES</a>
<a href="/listItems">ITEMS</a>
<a href="/listRecords">RECORDS</a>
</br>
<a href="/newFood">NEW FOOD</a>
<a href="/newFoodGroup">NEW GROUP</a>
<a href="/newMeal">NEW MEAL</a>
<a href="/newInsulin">NEW INSULIN</a>
<a href="/newUnit">NEW UNIT</a>
</br>
<a href="/newMeasure">NEW MEASURE</a>
<a href="/newItem">NEW ITEM</a>
{{ end }}