{{ define "NewFood" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Food</h2>  
    <form method="POST" action="insertF">
      <label> Name </label><input type="text" name="name" /><br />
      <label> Group </label>
        <select id="group" name="group">
          {{ range . }}
					  <option value="{{ .Id }}" id="{{ .Id }}">{{ .Name }}</option>
          {{ end }}
				</select>
      <br />
      <input type="submit" value="Save Food" />
    </form>
  {{ template "Footer" }}
{{ end }}