{{ define "NewInsulin" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Insulin</h2>  
    <form method="POST" action="insertInsulin">
      <label> Name </label><input type="text" name="name" /><br />
      <input type="submit" value="Save Insulin" />
    </form>
  {{ template "Footer" }}
{{ end }}