{{ define "NewItem" }}
  {{ template "Header" }}
   <h2>New Item</h2>  
    <form method="POST" id="ItemForm" action="insertItem">    
        <label> Food </label>
        <input type="hidden" id="recordid" name="recordid" value="{{ .RecordId }}">
        <input type="hidden" id="foodName" name="foodName">
        <select id="foodid" name="foodid" onchange="storeFoodName(this)">
            {{range $f := .FoodOptions}}
					  <option value="{{ $f.Id }}" id="{{ $f.Id }}"
              {{ if $f.Selected }} 
                selected
              {{ end }}
            >
            {{ $f.Name }}
            </option>
          {{ end }}
				</select>
        <br />
        <label> Unit </label>
        <input type="hidden" id="unitSymbol" name="unitSymbol">
        <select id="unitid" name="unitid" onchange="storeUnitSymbol(this)">
            {{range $u := .UnitOptions}}          
					  <option value="{{ $u.Id }}" id="{{ $u.Id }}"
              {{ if $u.Selected }} 
                selected
              {{ end }}
            >
            {{ $u.Symbol }}
            </option>
          {{ end }}
				</select>
      <br />
      <label>Quantity</label><input type="text" id="quantity" name="quantity" value="{{ .Quantity }}" 
        onBlur="calculate()" /><br />
      <label>CHO (g)</label><input readOnly type="text" id="CHO" name="CHO" value="{{ .CHO }}"  /><br />
      <input type="button" value="Save Item" onclick="submitItemForm()"/>
    </form><br />
  {{ template "Footer" }}
{{ end }}