{{ define "NewRecord" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Record</h2>  
    <form method="POST" action="insertRecord">      
      <label> Meal Type </label>
      <select id="mealid" name="mealid">        
          {{range $m := .MealOptions}}          
          <option value="{{ $m.Id }}" id="{{ $m.Id }}"
            {{ if $m.Selected }} 
              selected
            {{ end }}
          >
          {{ $m.Name }}
          </option>
        {{ end }}
      </select>
      <br />     
      <label> Insulin Type </label>
      <select id="insulinid" name="insulinid">        
          {{range $i := .InsulinOptions}}          
          <option value="{{ $i.Id }}" id="{{ $i.Id }}"
            {{ if $i.Selected }} 
              selected
            {{ end }}
          >
          {{ $i.Name }}
          </option>
        {{ end }}
      </select>
      <br />       
      <label>Glycemia Before Meal</label><input type="text" name="gbm" value="{{ .Gbm }}"  /><br />
      <label>Glycemia After Meal</label><input type="text" name="gam" value="{{ .Gam }}"  /><br />
      <label>Insuline Dose</label><input type="text" name="dose" value="{{ .Dose }}"  /><br />
      <label>CHO (g)</label><input readOnly type="text" name="CHO" value="{{ .CHO }}"  /><br />
      <input type="submit" value="New Item" formaction="storeRecordInSession" onClick="window.open('http://localhost:5000/newItem', 'modal', 'toolbar=yes,scrollbars=yes,resizable=no,top=200,left=200,width=400,height=400');
"/><br /> <!-- comment 2-->
      <input type="submit" value="Save Record" />
    </form><br />
    <h4> Record Items </h4>
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Food</td>
        <td>Unit</td>
        <td>Quantity</td>
        <td>gCHO</td>
      </tr>
       </thead>
       <tbody>
    {{ range .Items }} 
      <tr>
        <td> {{ .Id }} </td>
        <td> {{ .FoodName }} </td>
        <td> {{ .UnitSymbol }} </td>
        <td> {{ .Quantity }} </td>
        <td> {{ .CHO }} </td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}