{{ define "NewUnit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Unit</h2>
    <form method="POST" action="insertUnit">
      <label> Symbol </label><input type="text" name="symbol" /><br />
      <label> Description </label><input type="text" name="description" /><br />
      <input type="submit" value="Save Unit" />
    </form>
  {{ template "Footer" }}
{{ end }}