{{ define "NewUnit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Unit</h2>  
    <form method="POST" action="insertUnit">
      <label> Name </label><input type="text" name="name" /><br />
      <input type="submit" value="Save Unit" />
    </form>
  {{ template "Footer" }}
{{ end }}