{{ define "ShowItem" }}
  {{ template "Header" }}
    <h2> Register {{ .Id }} </h2>
      <p>Food: {{ .FoodName }}</p>
      <p>Unit: {{ .UnitSymbol }}</p>
      <p>Quantity: {{ .Quantity }}</p>
      <p>gCHO: {{ .CHO }}</p>
      <button onclick="functionEdition()">Edit Item</button>
      <!-- <br /> <a href="/editItem?id={{ .Id }}">Edit</a></p> -->
      <script>
      function functionEdition() {
        window.location = 'http://localhost:5000/editItem?id={{ .Id }}';
      }
      </script>
      <input id = 'btn' type='button' value ="Close" onclick = "window.close();"
  {{ template "Footer" }}
{{ end }} 