{{ define "ShowMeal" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .Id }} </h2>
      <p>Name: {{ .Name }}</p>
      <br /> <a href="/editMeal?id={{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }} 