{{ define "ShowRecord" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .Id }} </h2>
      <p>Food: {{ .FoodName }}</p>
      <p>Unit: {{ .UnitSymbol }}</p>
      <p>Quantity: {{ .Quantity }}</p>
      <p>gCHO: {{ .CHO }}</p>
      <br /> <a href="/editRecord?id={{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }} 